In [114]:
def parse(file_name, int_cols):
    """
    Parses the CSV file specified by file_name and returns the data as a list
    of dictionaries where each row is represented by a dictionary that
    has keys for each column and value which is the entry for that column
    at that row.

    Also takes a list of column names that should have the data for that column
    converted to integers. All other data will be str.
    """
    data = []
    with open(file_name) as f:
        headers = f.readline().strip().split(',')
        num_cols = len(headers)

        for line in f.readlines():
            row_data = line.strip().split(',')
            row = {}
            for i in range(num_cols):
                if headers[i] in int_cols:
                    row[headers[i]] = int(row_data[i])
                else:
                    row[headers[i]] = row_data[i]
            data.append(row)
    return data

In [115]:
integer_cols = ['id', 'level', 'atk', 'def', 'hp', 'stage']
parsed_entire_file = parse('pokemon_test.csv', integer_cols)

In [3]:
integer_cols = ['id', 'level', 'atk', 'def', 'hp', 'stage']
parsed_entire_file2 = parse('pokemon_test_by_yw.csv', integer_cols)

In [4]:
def species_count(data):
    species = []
    for line in data: 
        if line['name'] not in species:
            species.append(line['name']) 
    return len(species)

In [5]:
species_count(parsed_entire_file)

3

In [6]:
def max_level2(data):
    """
    """
    species_data = {}
    for line in data:
        species_data[line['name']] = line['level']
    # 밑에것과 연계해서 바꿀 수 있음
    max_key = None
    max_value = 0
    for key in species_data:
        if species_data[key] > max_value:
            max_key = key
            max_value = species_data[key] 
    return (max_key, max_value)

In [7]:
def max_level(data):
    """
    """
    max_key = None
    max_value = 0
    for line in data:
        if line['level'] > max_value:
            max_key = line['name']
            max_value = line['level'] 
    return (max_key, max_value)

In [8]:
max_level(parsed_entire_file)

('Lapras', 72)

In [9]:
def filter_range(data, smallest, largest):
    species = []
    for line in data:
        if line['level'] >= smallest and line['level'] < largest:
            species.append(line['name'])
    return (species)

In [10]:
filter_range(parsed_entire_file2, 30, 70)

['Arcanine', 'Arcanine', 'Starmie', 'Persian', 'Magmar', 'Kingler']

In [11]:
def mean_attack_for_type(data, pokemon_type):
    all_type = []
    attack = []
    for line in data:
        all_type.append(line['type'])
    
    for line in data:       
        if line['type'] == pokemon_type and pokemon_type in all_type:
            attack.append(line['atk'])
    
        elif pokemon_type not in all_type:
            return None
    average = sum(attack)/len(attack)
    return average

In [556]:
mean_attack_for_type(parsed_entire_file2, 'fire')

63.666666666666664

In [12]:
def mean_attack_per_type(data):
    types_atks = {}
    type_count = count_types(data)
    for line in data:
        if line['type'] in types_atks.keys():
            types_atks[line['type']] = types_atks[line['type']] + line['atk']
        else:
            types_atks[line['type']] = line['atk']
    
    for key in type_count.keys():
        types_atks[key] = types_atks[key]/type_count[key]
    return types_atks

In [17]:
def highest_stage_per_type(data):
    types_stages = {}
    for line in data:
        if line['type'] in types_stages.keys():
            if line['stage'] >= types_stages[line['type']]:
                types_stages[line['type']] = line['stage']
            else:
                types_stages[line['type']] = types_stages[line['type']]
        else:
            types_stages[line['type']] = line['stage']
    return types_stages

In [14]:
highest_stage_per_type(parsed_entire_file)

{'fire': 2, 'water': 2}

In [20]:
mean_attack_per_type(parsed_entire_file2)

{'fire': 63.666666666666664,
 'water': 130.33333333333334,
 'normal': 104.0,
 'fighting': 20.0}

In [158]:
a = {'ab':1, 'ac':1}
print (a)

a['ab'] = a['ab'] + 1
a['ab']

{'ab': 1, 'ac': 1}

2

In [19]:
def count_types(data):
    type_data = {}
    for line in data:
        if line['type'] in type_data.keys():
            type_data[line['type']] += 1
        else:
            type_data[line['type']] = 1            
    return type_data

In [163]:
count_types(parsed_entire_file)

{'id': 59, 'name': 'Arcanine', 'level': 35, 'personality': 'gentle', 'type': 'fire', 'weakness': 'water', 'atk': 45, 'def': 60, 'hp': 80, 'stage': 2}
{'id': 131, 'name': 'Lapras', 'level': 72, 'personality': 'lax', 'type': 'water', 'weakness': 'electric', 'atk': 107, 'def': 113, 'hp': 29, 'stage': 1}

{'fire': 2, 'water': 2}

In [190]:
def highest_stage_per_type(data):
    type_data = {}
    max_level = 0        
    for line in data:
        print(line)
        if line['stage'] >= max_level:
            type_data[line['type']] = line ['stage']
            max_level = line ['stage']
    return type_data

In [191]:
highest_stage_per_type(parsed_entire_file)

{'id': 59, 'name': 'Arcanine', 'level': 35, 'personality': 'impish', 'type': 'fire', 'weakness': 'water', 'atk': 50, 'def': 55, 'hp': 90, 'stage': 2}
{'id': 59, 'name': 'Arcanine', 'level': 35, 'personality': 'gentle', 'type': 'fire', 'weakness': 'water', 'atk': 45, 'def': 60, 'hp': 80, 'stage': 2}
{'id': 121, 'name': 'Starmie', 'level': 67, 'personality': 'sassy', 'type': 'water', 'weakness': 'electric', 'atk': 174, 'def': 56, 'hp': 113, 'stage': 2}
{'id': 131, 'name': 'Lapras', 'level': 72, 'personality': 'lax', 'type': 'water', 'weakness': 'electric', 'atk': 107, 'def': 113, 'hp': 29, 'stage': 1}

{'fire': 2, 'water': 2}

In [21]:
import pandas as pd

data = pd.read_csv('pokemon_test.csv')
data2 = pd.read_csv('pokemon_test_by_yw.csv')

In [22]:
data2

    id      name  level personality      type  weakness  atk  def   hp  stage
0   59  Arcanine     35      impish      fire     water   50   55   90      2
1   59  Arcanine     35      gentle      fire     water   45   60   80      2
2  121   Starmie     67       sassy     water  electric  174   56  113      2
3  131    Lapras     72         lax     water  electric  107  113   29      1
4   53   Persian     40        mild    normal  fighting  104  116  147      2
5  126    Magmar     44      docile      fire     water   96   83  153      1
6   99   Kingler     33     adamant     water  electric  110  169   29      2
7   57  Primeape      9      lonely  fighting    flying   20   66   43      2

In [23]:
def species_count(data):
    return len(data['name'].unique())

In [24]:
species_count(data)

3

In [25]:
def max_level(data):
    val = data.loc[data['level'].idxmax()]
    return val['name'], val['level']

In [27]:
data.loc[data['level'].idxmax()]

id                  131
name             Lapras
level                72
personality         lax
type              water
weakness       electric
atk                 107
def                 113
hp                   29
stage                 1
Name: 3, dtype: object

In [26]:
max_level(data)

('Lapras', 72)

In [28]:
def filter_range(data, smallest, largest):
    filtered = data[(data['level'] >= smallest) 
                    & (data['level'] < largest)]
    return list(filtered['name'])

In [474]:
filter_range(data2, 30, 70)

['Arcanine', 'Arcanine', 'Starmie', 'Persian', 'Magmar', 'Kingler']

In [29]:
def mean_attack_for_type(data, pokemon_type):
    if pokemon_type in dict(data['type']).values():
        return (data.groupby('type')['atk'].mean())[pokemon_type]
    else:
        return None

In [35]:
dict(data2['type']).values()

dict_values(['fire', 'fire', 'water', 'water', 'normal', 'fire', 'water', 'fighting'])

In [44]:
data

    id      name  level personality   type  weakness  atk  def   hp  stage
0   59  Arcanine     35      impish   fire     water   50   55   90      2
1   59  Arcanine     35      gentle   fire     water   45   60   80      2
2  121   Starmie     67       sassy  water  electric  174   56  113      2
3  131    Lapras     72         lax  water  electric  107  113   29      1

In [49]:
(data.groupby('type')['type'].count())

type
fire     2
water    2
Name: type, dtype: int64

In [76]:
def max_atk_difference_manual(data):
    if len(data) < 2:
        return None
    smallest = data['atk'][0]
    largest = data['atk'][0]
    for row in data['atk']:
        if atk < smallest:
            smallest = atk
        elif atk > largest:
            largest = atk
    return largest - smallest

In [78]:
def max_atk_difference_manual(data):
    return data['atk'].max()-data['atk'].min()

In [79]:
print(max_atk_difference_manual(data))

129

In [65]:
data['atk'][0]

50

In [46]:
(data.groupby('type')['atk'].mean())['fire']

47.5

In [30]:
mean_attack_for_type(data2, 'fire')

63.666666666666664

In [31]:
dict(data['type'])

{0: 'fire', 1: 'fire', 2: 'water', 3: 'water'}

In [495]:
def mean_attack_for_type(data):
    return dict(data.groupby('type')['atk'].mean())

In [496]:
mean_attack_for_type(data2)

{'fighting': 20.0,
 'fire': 63.666666666666664,
 'normal': 104.0,
 'water': 130.33333333333334}

In [52]:
def highest_stage_per_type(data):
    return dict(data.groupby('type')['stage'].max())

In [53]:
highest_stage_per_type(data2)

{'fighting': 2, 'fire': 2, 'normal': 2, 'water': 2}

In [412]:
def count_types(data):
    return dict(data.groupby('type')['type'].count())

In [498]:
count_types(data2)

{'fighting': 1, 'fire': 3, 'normal': 1, 'water': 3}

In [415]:
data.groupby('type')['stage'].count()

type
fire     2
water    2
Name: stage, dtype: int64

In [120]:
def best_matchup_manual(data, index):
    pokemon = row[index]
    result = {}
    for row in data:
        t = row ['type']
        if t != pokemon['weakness']:
            if t in result:
                if row['atk'] < result[t]['atk']:
                    result[t] = row
            else:
                result[t] = row
    return {r['type']:r['atk'] for r in result}

In [116]:
parsed_entire_file

[{'id': 59,
  'name': 'Arcanine',
  'level': 35,
  'personality': 'impish',
  'type': 'fire',
  'weakness': 'water',
  'atk': 50,
  'def': 55,
  'hp': 90,
  'stage': 2},
 {'id': 59,
  'name': 'Arcanine',
  'level': 35,
  'personality': 'gentle',
  'type': 'fire',
  'weakness': 'water',
  'atk': 45,
  'def': 60,
  'hp': 80,
  'stage': 2},
 {'id': 121,
  'name': 'Starmie',
  'level': 67,
  'personality': 'sassy',
  'type': 'water',
  'weakness': 'electric',
  'atk': 174,
  'def': 56,
  'hp': 113,
  'stage': 2},
 {'id': 131,
  'name': 'Lapras',
  'level': 72,
  'personality': 'lax',
  'type': 'water',
  'weakness': 'electric',
  'atk': 107,
  'def': 113,
  'hp': 29,
  'stage': 1}]

In [121]:
best_matchup_manual(parsed_entire_file,1)

UnboundLocalError: local variable 'row' referenced before assignment